.rightsection{
    background-color: hsl(183, 100%, 15%);
    display: flex;
    flex-direction: column;
    height: 400px;
    width:400px;
    border-radius: 20px;
    justify-content: space-between;

}
.resetBtn {
    color: hsl(183, 100%, 15%);
    background-color: hsl(186, 14%, 43%);
    width: 100%;
    border-radius: 6px;
    padding: 8px ;
    border: none;
}
.btnWrap{
    margin: 20px; /* top right bottom left */
}